<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	id="WebApp_ID" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<listener>
		<listener-class>it.equitalia.gestorefascicolo.web.listener.GestoreFascicoloListener</listener-class>
	</listener>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FascicoloServlet</display-name>
		<servlet-name>FascicoloServlet</servlet-name>
		<servlet-class>it.equitalia.gestorefascicolo.web.sevlet.FascicoloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FascicoloServlet</servlet-name>
		<url-pattern>/unfiltered/FascicoloServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 
	<security-role>
		<role-name>FSC</role-name>
	</security-role>
	<security-role>
		<role-name>FSC_ADMIN</role-name>
	</security-role> 
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ALL</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>		
		<auth-constraint>
			<role-name>FSC</role-name> 
			<role-name>FSC_ADMIN</role-name>
		</auth-constraint>
	</security-constraint>
	
		
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>adminPanel</web-resource-name>
			<url-pattern>/admin/adminPanel.action</url-pattern>
		</web-resource-collection>		
		<auth-constraint>
			<role-name>FSC_ADMIN</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>GestoreFascicolo</realm-name>
	</login-config> 
	
</web-app>

